.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Tests/Demo/Bin/Demo.zip
Tests/Demo/Bin/SampleApp.zip
Tests/Demo/Demo.xcodeproj/project.pbxproj
Tests/Demo/Demo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Tests/Demo/Demo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Tests/Demo/Demo/AppDelegate.swift
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/Contents.json
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_128x128.png
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_128x128@2x.png
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_16x16.png
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_16x16@2x.png
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_256x256.png
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_256x256@2x.png
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_32x32.png
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_32x32@2x.png
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_512x512.png
Tests/Demo/Demo/Assets.xcassets/AppIcon.appiconset/icon_512x512@2x.png
Tests/Demo/Demo/Assets.xcassets/apple.imageset/apple.png
Tests/Demo/Demo/Assets.xcassets/apple.imageset/Contents.json
Tests/Demo/Demo/Assets.xcassets/Contents.json
Tests/Demo/Demo/Assets.xcassets/file_doc.imageset/Contents.json
Tests/Demo/Demo/Assets.xcassets/file_doc.imageset/file_doc.png
Tests/Demo/Demo/Assets.xcassets/icoWarning.imageset/Contents.json
Tests/Demo/Demo/Assets.xcassets/icoWarning.imageset/icoWarning.pdf
Tests/Demo/Demo/Assets.xcassets/ladyindark.imageset/Contents.json
Tests/Demo/Demo/Assets.xcassets/ladyindark.imageset/ladyindark.png
Tests/Demo/Demo/Assets.xcassets/moon.imageset/Contents.json
Tests/Demo/Demo/Assets.xcassets/moon.imageset/moon.png
Tests/Demo/Demo/Assets.xcassets/moon.imageset/moon@2x.png
Tests/Demo/Demo/Assets.xcassets/paper.imageset/Contents.json
Tests/Demo/Demo/Assets.xcassets/paper.imageset/paper.png
Tests/Demo/Demo/Assets.xcassets/paper.imageset/paper_@2X.png
Tests/Demo/Demo/Assets.xcassets/saturday_warmth.imageset/Contents.json
Tests/Demo/Demo/Assets.xcassets/saturday_warmth.imageset/saturday_warmth.png
Tests/Demo/Demo/Assets.xcassets/sun.imageset/Contents.json
Tests/Demo/Demo/Assets.xcassets/sun.imageset/sun.png
Tests/Demo/Demo/Assets.xcassets/sun.imageset/sun@2x.png
Tests/Demo/Demo/Base.lproj/Main.storyboard
Tests/Demo/Demo/ContentViewController.swift
Tests/Demo/Demo/DarkTheme+DemoSwift.swift
Tests/Demo/Demo/DetailsView.swift
Tests/Demo/Demo/DetailsViewController.swift
Tests/Demo/Demo/Info.plist
Tests/Demo/Demo/LightTheme+DemoSwift.swift
Tests/Demo/Demo/Note.swift
Tests/Demo/Demo/NotificationName+Note.swift
Tests/Demo/Demo/PaperTheme.swift
Tests/Demo/Demo/SidebarViewController+Actions.swift
Tests/Demo/Demo/SidebarViewController.swift
Tests/Demo/Demo/ThemeColor+DemoSwift.swift
Tests/Demo/Demo/ThemeGradient+DemoSwift.swift
Tests/Demo/Demo/ThemeImage+DemoSwift.swift
Tests/Demo/Demo/TitleBarOverlayView.swift
Tests/Demo/Demo/TitleView.swift
Tests/Demo/Demo/WindowController.swift
Tests/Demo/Themes/LadyInDark.theme
Tests/Demo/Themes/PurpleGreen.theme
Tests/Demo/Themes/SaturdayWarmth.theme
Tests/Docs/Classes/DarkTheme.html
Tests/Docs/Classes/LightTheme.html
Tests/Docs/Classes/SystemTheme.html
Tests/Docs/Classes/ThemeColor.html
Tests/Docs/Classes/ThemeGradient.html
Tests/Docs/Classes/ThemeImage.html
Tests/Docs/Classes/ThemeManager.html
Tests/Docs/Classes/ThemeManager/WindowThemePolicy.html
Tests/Docs/Classes/UserTheme.html
Tests/Docs/css/highlight.css
Tests/Docs/css/jazzy.css
Tests/Docs/docsets/ThemeKit.docset/Contents/Info.plist
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/docSet.dsidx
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Classes/DarkTheme.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Classes/LightTheme.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Classes/SystemTheme.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Classes/ThemeColor.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Classes/ThemeGradient.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Classes/ThemeImage.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Classes/ThemeManager.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Classes/ThemeManager/WindowThemePolicy.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Classes/UserTheme.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/css/highlight.css
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/css/jazzy.css
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Extensions.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Extensions/Notification.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Extensions/Notification/Name.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Extensions/NSColor.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Extensions/NSWindow.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/img/carat.png
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/img/dash.png
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/img/gh.png
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/index.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/js/jazzy.js
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/js/jquery.min.js
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Protocols/Theme.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/search.json
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Theme Assets.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/ThemeKit.html
Tests/Docs/docsets/ThemeKit.docset/Contents/Resources/Documents/Themes.html
Tests/Docs/docsets/ThemeKit.tgz
Tests/Docs/docsets/ThemeKit.xml
Tests/Docs/Extensions.html
Tests/Docs/Extensions/Notification.html
Tests/Docs/Extensions/Notification/Name.html
Tests/Docs/Extensions/NSColor.html
Tests/Docs/Extensions/NSWindow.html
Tests/Docs/img/carat.png
Tests/Docs/img/dash.png
Tests/Docs/img/gh.png
Tests/Docs/index.html
Tests/Docs/js/jazzy.js
Tests/Docs/js/jquery.min.js
Tests/Docs/Protocols/Theme.html
Tests/Docs/search.json
Tests/Docs/Theme Assets.html
Tests/Docs/ThemeKit.html
Tests/Docs/Themes.html
Tests/Docs/undocumented.json
Tests/Imgs/ThemeKit.gif
Tests/Imgs/ThemeKit.png
Tests/Imgs/ThemeKit@2x.png
Tests/LICENSE
Tests/macOSThemeKitTests/macOSThemeKitTests.swift
Tests/masOSThemKitTests/masOSThemKitTests.swift
Tests/README.md
